<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
    <style>
        .container{
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Quizz</h1>
        <h3>Select your desired quiz:</h3><br>
        <ul>
            <%for(var i=0;i<quizes.length;i++){%>
                <li><a href="/attempt/<%=quizes[i].quizid%>"><%=quizes[i].quizid%></a></li>
            <%}%>
        </ul>
        
        
    </div>
</body>
</html>