<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz</title>
    <style>
        .container{
            align-items: center;
            display: flex;
            flex-direction: column;
        }
		form{
			margin:30px;
		}
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Quizz</h1>
        <h3>Select an option:</h3><br>
        <div>
            <a href="create"><button>Create</button></a>
        <a href="attempt"><button>Attempt</button></a>
        </div>
		<form action='scores'method="post">
        	Enter the quiz id:  
			<input type="number" name="quizid" required>
			<button>Get Scores</button>
		</form>
    </div>
</body>
</html>